# Copyright 2021 Teak.io, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Teak Log Collector (TD Agent Bit)
Requires=network.target
After=network.target

[Service]
Slice=teak-services.slice
ReadOnlyPaths=/
ProtectSystem=strict
StateDirectory=teak-log-collector
CacheDirectory=teak-log-collector
LogsDirectory=teak-log-collector
ConfigurationDirectory=teak-log-collector

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
RemoveIPC=yes
UMask=0077

SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @privileged @raw-io @reboot @resources @swap

CapabilityBoundingSet=
RestrictAddressFamilies=~AF_NETLINK AF_PACKET
RestrictNamespaces=yes

Environment="HOSTNAME=%H"
Environment="LOG_LEVEL=info"

User={{ fluentbit_user.name }}
Type=simple
ExecStart=/opt/td-agent-bit/bin/td-agent-bit -c {{ fluentbit_config.dest }}
Restart=always

[Install]
WantedBy=multi-user.target
