[Unit]
Description=Teak Log Collector (TD Agent Bit)
Requires=network.target
After=network.target

[Service]
Slice=teak-services.slice
ReadOnlyPaths=/
ProtectSystem=strict
StateDirectory=teak-log-collector
CacheDirectory=teak-log-collector
LogsDirectory=teak-log-collector
ConfigurationDirectory=teak-log-collector

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
RemoveIPC=yes
UMask=0077

SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @privileged @raw-io @reboot @resources @swap

CapabilityBoundingSet=
RestrictAddressFamilies=~AF_NETLINK AF_PACKET
RestrictNamespaces=yes

Environment="HOSTNAME=%H"

User={{ fluentbit_user.name }}
Type=simple
ExecStart=/opt/td-agent-bit/bin/td-agent-bit -c {{ fluentbit_config.dest }}
Restart=always

[Install]
WantedBy=multi-user.target
