# Copyright 2020 New Relic Corporation. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Modified by Teak.io, Inc.

[Unit]
Description=New Relic Infrastructure Agent
After=dbus.service syslog.target network.target

[Service]
PrivateTmp=yes
StateDirectory=newrelic-infra
User=nri-agent
Group=nri-agent
RuntimeDirectory=newrelic-infra
Type=simple
ExecStart=/usr/bin/newrelic-infra-service -config ${CREDENTIALS_DIRECTORY}/newrelic-infra.yml

MemoryMax=1G
Restart=always
RestartSec=20
StartLimitInterval=0
StartLimitBurst=5
PIDFile=/run/newrelic-infra/newrelic-infra.pid

[Install]
WantedBy=multi-user.target
